<!doctype html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>Shelve Dribbble</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="humans.txt">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <link rel="stylesheet" href="/css/gumby.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/css/style.css" media="screen" type="text/css" />

</head>
<body>


<div id="container"></div>
<header>
    <div class="wrap">
        <ul class="links">
            <li><a href="https://github.com/support">Popular</a></li>

        </ul>
        <a href="/"><img height="" width="" src="img/logo8.png"></a>
    </div>
</header>
<div id="container">
   Test Ok <%=user%>
</div>

</body>
</html>