<% layout('../layout') -%>
<div id="personal" class="wrapper margint40 marginb60">
    <div class="row">
        <div class="one columns centered field margint20">
            <div class="sixcolumns left">
                <div class="group-icon yellow">
                    <i class="icon-traffic-cone"></i>
                </div>
            </div>
        </div>
        <div class="eight columns centered margint50 paddingb50" >
            <p style="font-size: 14px; color: rgb(119, 119, 119); margin: 15px 0px 35px;">Bu grubu sildiğinizde gruba bağlı tüm itemları da silmiş olacaksınız, silmek istediğinizden eminmisiniz?</p>
            <div class="four columns centered margint50 ">
                <div class="g-button">
                    <a class="first">EVET</a>
                </div>
                <div class="g-button">
                    <a class="first">IPTAL</a>
                </div>
            </div>
        </div>


    </div>
</div>

<style>
body{background:#f1f2f3}
    p{font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,'Open Sans',sans-serif !important;}
		.titles{font-family: 'HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue',Helvetica,'Open Sans',sans-serif !important;}
   /* .group-icon {
        border-radius: 3px;
        color: #FFFFFF;
        height: 36px;
        margin: 0 auto;
        padding: 4px;
        width: 38px;
    }*/
</style>